.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    padding: 30px;
    overflow-x: hidden;
    margin-top: 10px;
    
  }
 
  .container {
    margin:0px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
  }
  h2{
    color: #09264b;
    font-family:'IBM Plex Sans Medium';
    font-weight: 1000;
    font-size:50px;
  }
  h3{
    float:left;
    font-size: 45px;
    padding-top: 2px;
    padding-left:20px;
  }
  .title {
    color: black;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .button {
    font-size: 16px;
     margin: 8px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
   
  }
  
  .button:hover {
    background-color: #555;
  }
  .column {
    float: none;
    width: 33.3%;
    margin-bottom: 16px;
    
  }
  
  #list-item-4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
    font-size: 60px;
    text-align: left;
    color: rgb(48, 115, 136);
  }
#event2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: left;
    color: #09264b;
    padding-left: 30px;
    
    
}
  #event3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: left;
    color: #09264b;
    padding-left: 30px;
    
  }
  #event1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: left;
    color: #09264b;
    padding-left: 30px;
    
  }
  h4{
    margin-bottom:40px;
    margin-top:40px;
    font-size:90px;
    text-align: center;
    color: rgb(48, 115, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }


html,body{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  overflow-x: hidden;
  z-index: -1;
  font-weight:500;
 
}

html,body{
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.heading{
  padding-left:35px;
  font-size: 45px;
  color:rgb(31, 16, 16)
}
.speaker{
  font-size:35px;
}
.dateandfee{
  padding-left: 44px; 
  font-size:25px;
}
.aim{
  color: #09264b;
  font-size: 40px;
  padding-left:44px;
}
.text{
  padding-left:44px; 
  font-size:30px; ;
}

@media screen and (max-width: 760px) {
  h4{
    font-size:55px;
  }
  .speaker{
    font-size:30px;
  }
  .heading{
    font-size:30px;
  }
  .dateandfe{
    font-size: 22px;
  }
  .text{
    font-size:25px;
    padding-right:20px;
  }

  

  h1{
    float:left
  }
  .end{
    visibility: visible;
  }
  
  #event1{

    font-size:50px;
  }
  
  #event2{
    font-size:50px;
  }
  #event3{
    
    font-size:50px;
  }
  .foto{
    color:black;
    float:left;
    margin-bottom: 40px;
    margin-top:100px;
    margin-right:450px;
    float:left;
  }
 
 
  h1{
    margin-right:50px;
  }
 


  .column {
    padding-left:50px;
    padding-right: 50px;
    width: 100%;
    display: block;
    margin:0%
  }
}
.card2 {

  box-shadow: 0 4px 8px 0 rgba(63, 45, 45, 0.2);
  max-width: 300px;
  margin-right:100px;
  padding-top:30px;
  text-align: center;
  font-family: arial;
}
.web1{

  margin-top:150px;
}
.footer{
  text-align: center;
  background: #152F4F;
  color:white;
}
#logo-google{
  padding: 10px 13px 10px 13px; 
  background-color:#dd4b39;
  color: white;
  border-radius: 80px;
  text-decoration: none;
}
#logo-twitter{
  padding: 10px 10px 10px 10px; 
  background-color: #55ACEE;
  color: white;
  border-radius: 80px;
  text-decoration: none;
}
#logo-insta{
  padding: 10px 11px 10px 11px; 
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
  border-radius: 80px;
  text-decoration: none;
}
#logo-snap{
  padding: 10px 11px 10px 11px; 
  background-color: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 80px;
  text-decoration: none;
}
#logo-git{
  padding: 10px 11px 10px 11px; 
  background-color:#211F1F;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}
#reg {
  margin: 8px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
}
#reg:hover {
  background-color: #555;
}
#re {
  margin: 8px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
}
#re:hover {
  background-color: #555;
}
#r {
  margin: 8px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
}
#r:hover {
  background-color: #555;
}
#hi{
  font-family: 'xanh mono';
  color: #09264b;
  margin:0px;
  text-align: center;
  font-size:55px;
  font-weight:bolder;
  
}
.trans--grow{
  -webkit-transition: width 30s ease-out; 
  transition: width 25s  ease-out;
  width : 0%;
}
.grow{
  width:100%;
}
.hr1{
  margin-left:0;
}
.hr2{
  margin-right:0;
}
hr{
  margin-top: 20px;
  padding: 2px 0;
  border: none;
  background-color: #000000;
  letter-spacing: 5px;
}

