.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0px 16px;
    text-align: center;
    font-size: 20px;
    
    margin-top: 10px;
  }
  h2{
    font-family:'IBM Plex Sans Medium'
  }
  .title {
    color: grey;
  }
  .button {
    margin: 8px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
  }
  
  .button:hover {
    background-color: #555;
  }
  .column {
    float: none;
    width: 33.3%;
    margin-bottom: 16px;
    
  }
  .hr2 {
    padding-bottom: 15px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to left, rgba(245, 245, 245, 245), rgb(63, 145, 63), rgba(245, 245, 245, 245));
}
  #list-item-4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
    font-size: 60px;
    text-align: left;
    color: rgb(48, 115, 136);
  }
#list-item-2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
    font-size: 60px;
    text-align: left;
    color: rgb(48, 115, 136);
}
  #list-item-3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
    font-size: 60px;
    text-align: left;
    color: rgb(48, 115, 136);
  }
  #list-item-1{
    font-weight: bold;
    color: rgb(48, 115, 136);
    text-align: left;
    font-size: 60px;
  }
  h4{
    text-align: center;
    color: rgb(48, 115, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
.button_login{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
    position:absolute;
    top:45px;
    right:100px; 
}

html,body{
  overflow-x: hidden;
  background-color: whitesmoke;
}
@media screen and (min-width:800px){
  .spacing {
    padding-left:120px;
  }
}
html,body{
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 800px) {
  .column {
    padding-left:50px;
    padding-right: 50px;
    width: 100%;
    display: block;
  }
}

